.acceuil-head{
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    align-items: center;
    margin-bottom: 2rem;
}

.acceuil-list-conference-element{
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.acceuil-list-conference-title{
    display: flex;
    flex-direction: column;
}

.acceuil-list-conference-name{
    font-size: 1.2rem;
    color: #002147;
}

.acceuil-list-conference-lastupdate, .acceuil-list-conference-status, .acceuil-list-conference-creator{
    color: #333;
}