.panel{
    background-color: #002147;
    color: #fff;
}

.panel-option-groupe:first-child{
    margin-bottom: 3rem;
}

.panel-option-list{
    margin: 2rem 0;
}

.panel-login-groupe{
    position: absolute;
    bottom: 2rem;
}