body{
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    text-decoration: underline;
}

body{
    font-size: 16px;
}

#content-app{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.error{
    color: red;
}